<section class="content-header">
    <h1>
        Providers
        <small>List Providers</small>
    </h1>

    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Providers</li>
    </ol>
</section>

<section class="content container-fluid">
    <div class="margin-bottom">
        <button ui-sref="hmo.providers.providersCreate" class="btn btn-primary">Create New Provider</button>
        <button class="btn btn-info" ng-click="openImportModal()" ng-controller="providersBulkImportExportCtrl">
            <i class="fa fa-upload"></i> Import Providers
        </button>
    </div>
    <div ng-controller="ProvidersListCtrl as showCase" class="box">
        <div class="box-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-striped row-border hover"></table>
        </div>
    </div>

    <div class="pull-right" ng-controller="providersBulkImportExportCtrl">
        <a ng-href="https://api.dev.bms.curacel.co/providers/export?token={{auth_token}}" class="btn btn-warning">
            <i class="fa fa-download"></i> Export Providers
        </a>
    </div>

    <!-- Providers Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" ng-controller="providersBulkImportExportCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="importModalLabel">Upload Bulk Providers</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" role="alert">
                        Upload your excel file by clicking the button below, 
                        <a href="./providers-list-sample.xlsx" target="_blank" style="color: #000000;">here is a sample excel file</a> 
                        showing how the excel columns should be arranged.
                    </div>

                    <br />

                    <center>
                        <!-- <input type="file" 
                                file-model="myFile" 
                                id="upload-excel-input"
                                style="display: none;" /> -->
                        <input type="file" file-model="myFile" id="upload-excel-input" />

                        <!-- <button class="btn btn-info" 
                                ng-click="uploadExcelFile()"
                                ng-disabled="btn_disable == true"
                                >
                            Click to upload file
                        </button> -->
                    </center>

                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadFile()" ng-disabled="btn_disable == true">Upload File</button>
                </div>
            </div>
        </div>
    </div>
</section>



