<section class="content-header">
    <h1>
        Providers
        <small>List Providers</small>
    </h1>

    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Providers</li>
    </ol>
</section>

<section class="content container-fluid">
    <div class="margin-bottom">
        <button ui-sref="hmo.providers.providersCreate" class="btn btn-primary">Create New Provider</button>
        <div class="pull-right" ng-controller="providersExcelUploadCtrl">
            <input type="file" file-model="myFile" />
            <button ng-click="uploadFile()" class="btn btn-info">
                <i class="fa fa-upload"></i> Import Providers
            </button>
        </div>
    </div>
    <div ng-controller="ProvidersListCtrl as showCase" class="box">
        <div class="box-body">
            <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-striped row-border hover"></table>
        </div>
    </div>
</section>



