<div class="tab-pane" id="info">
    <div class="row">
        <div class="col-md-3">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive" src="assets/img/logo_default_dark.png" alt="Provider Image">
                <h3 class="profile-username text-center">{{name}}</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Provider Contact</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-map-marker margin-r-5"></i> RC No</strong>
                    <p class="text-muted">
                        {{rc_no}}
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Provider Tier</strong>
                    <p class="text-muted">
                        {{provider_tier_id}}
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                    <p class="text-muted">
                        {{address}}
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> State</strong>
                    <p class="text-muted">
                        {{state_name}}
                    </p>
                    <hr>
                    <strong><i class="fa fa-email margin-r-5"></i> Email</strong>
                    <p class="text-muted">{{email}}</p>
                    <hr>
                    <strong><i class="fa fa-globe margin-r-5"></i> Website</strong>
                    <p>{{website}}</p>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Representative Contact</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Name</strong>
                    <p class="text-muted">
                        Reps Name
                    </p>
                    <hr>
                    <strong><i class="fa fa-email"></i> Reps Email</strong>
                    <p class="text-muted">rep@provider.com</p>
                    <hr>
                    <strong><i class="fa fa-pencil margin-r-5"></i> Staff Strength</strong>
                    <p>
                        <span class="label label-success">12</span>
                    </p>
                    <hr>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>