<section class="content-header">
    <h1>
        {{provider.name}}
        <small>Active</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="hmo.providersList">Providers</a></li>
        <li class="active">{{provider.name}}</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
			<div class="nav-tabs-custom">
				<uib-tabset active="active">
					<uib-tab >
                        <uib-tab-heading><i class="fa fa-info"></i> Info</uib-tab-heading>
                        
						<ng-include src="'modules/hmo/providers/views/tab-info.html'"/>
					</uib-tab>

					<uib-tab>
                        <uib-tab-heading><i class="fa fa-envelope"></i> Messages</uib-tab-heading>
                        
						<ng-include src="'modules/hmo/providers/views/tab-messages.html'"/>
					</uib-tab>

					<uib-tab  >
                        <uib-tab-heading><i class="fa fa-users"></i> Enrollees</uib-tab-heading>
                        
						<ng-include src="'modules/hmo/providers/views/tab-enrollees.html'"/>
					</uib-tab>

					<uib-tab  >
                        <uib-tab-heading><i class="fa fa-money"></i> Financials</uib-tab-heading>
                        
						<ng-include src="'modules/hmo/providers/views/tab-financials.html'"/>
					</uib-tab>

					<uib-tab  >
						<uib-tab-heading><i class="fa fa-user-secret"></i> PA Codes</uib-tab-heading>
						<ng-include src="'modules/hmo/providers/views/tab-pa.html'"/>
					</uib-tab>

					<uib-tab  >
						<uib-tab-heading><i class="fa fa-list"></i> Tariffs</uib-tab-heading>

						<ng-include src="'modules/hmo/providers/views/tab-tariffs.html'"/>
					</uib-tab>

                    <uib-tab  >
                        <uib-tab-heading><i class="fa fa-list"></i> Claims</uib-tab-heading>

                        <ng-include src="'modules/hmo/providers/views/tab-claims.html'"/>
                    </uib-tab>

					<uib-tab  >
						<uib-tab-heading><i class="fa fa-gear"></i> Settings</uib-tab-heading>

						<ng-include src="'modules/hmo/providers/views/tab-settings.html'"/>
					</uib-tab>
				</uib-tabset>
			</div>



                                            <!-- <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-2">
                                                    <a href="#" class="btn btn-primary btn-block margin-bottom">Add Payment</a>
                                                </div>
                                            </div>
                                        <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>SN</th>
                                                    <th>Date</th>
                                                    <th>Narration</th>
                                                    <th>Amount</th>
                                                    <th>Payment Advice</th>
                                                    <th>Status</th>
                                                    <th>Transaction ID</th>
                                                    <th>Created</th>
                                                </tr>
                                                                
                                            
                                            <tr>
                                            <td>12</td>
                                            <td>12/12/12</td>
                                            <td>Lorem ipsum dolor sit amet, consectetur adbdb dkd dbd d</td>
                                            <td>N232,323</td>
                                            <td><a href="#" class="btn btn-primary btn-sm" title="View details"><i class="fa fa-eye"></i>&nbsp;View</a></td>
                                            <td><span class="label label-danger">Paid</span></td>
                                            <td>2323</td>
                                            <td>11/23/12</td>
                                            </tr>
                                        </tbody></table>
                                        </div>
                                    </div>
                            </div>
                        </div> -->

    </div>
  </div>
</section>




<div class="modal fade" id="modal-default" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Default Modal</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-9">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Compose New Message</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="form-group">
                  <input class="form-control" placeholder="To:">
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Subject:">
                </div>
                <div class="form-group">
                  <ul class="wysihtml5-toolbar" style="">
                    <li class="dropdown">
                      <a class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                        <span class="glyphicon glyphicon-font"></span>
                        <span class="current-font">Normal text</span>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on" class="wysihtml5-command-active">Normal text</a></li>
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Heading 1</a></li>
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Heading 2</a></li>
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Heading 3</a></li>
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Heading 4</a></li>
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Heading 5</a></li>
                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Heading 6</a></li>
                      </ul>
                    </li>
                    <li>
                      <div class="btn-group">
                        <a class="btn btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Bold</a>
                        <a class="btn btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Italic</a>
                        <a class="btn btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Underline</a>
                        <a class="btn btn-default" data-wysihtml5-command="small" title="CTRL+S" tabindex="-1" href="javascript:;" unselectable="on">Small</a>
                      </div>
                    </li>
                    <li>
                      <a class="btn btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" data-wysihtml5-display-format-name="false" tabindex="-1" href="javascript:;" unselectable="on">
                        <span class="glyphicon glyphicon-quote"></span>
                      </a>
                    </li>
                    <li>
                      <div class="btn-group">
                        <a class="btn btn-default" data-wysihtml5-command="insertUnorderedList" title="Unordered list" tabindex="-1" href="javascript:;" unselectable="on">
                          <span class="glyphicon glyphicon-list"></span>
                        </a>
                        <a class="btn btn-default" data-wysihtml5-command="insertOrderedList" title="Ordered list" tabindex="-1" href="javascript:;" unselectable="on">
                          <span class="glyphicon glyphicon-th-list"></span>
                        </a>
                        <a class="btn btn-default" data-wysihtml5-command="Outdent" title="Outdent" tabindex="-1" href="javascript:;" unselectable="on">
                          <span class="glyphicon glyphicon-indent-right"></span>
                        </a>
                        <a class="btn btn-default" data-wysihtml5-command="Indent" title="Indent" tabindex="-1" href="javascript:;" unselectable="on">
                          <span class="glyphicon glyphicon-indent-left"></span>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="bootstrap-wysihtml5-insert-link-modal modal fade" data-wysihtml5-dialog="createLink">
                        <div class="modal-dialog ">
                          <div class="modal-content">
                            <div class="modal-header">
                              <a class="close" data-dismiss="modal">×</a>
                              <h3>Insert link</h3>
                            </div>
                            <div class="modal-body">
                              <div class="form-group">
                                <input value="http://" class="bootstrap-wysihtml5-insert-link-url form-control" data-wysihtml5-dialog-field="href">
                              </div> 
                              <div class="checkbox">
                                <label> 
                                  <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Open link in new window
                                </label>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
                              <a href="#" class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save">Insert link</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn btn-default" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on">
                          <span class="glyphicon glyphicon-share"></span>
                      </a>
                    </li>
                    <li>
                      <div class="bootstrap-wysihtml5-insert-image-modal modal fade" data-wysihtml5-dialog="insertImage">
                        <div class="modal-dialog ">
                          <div class="modal-content">
                            <div class="modal-header">
                              <a class="close" data-dismiss="modal">×</a>
                              <h3>Insert image</h3>
                            </div>
                            <div class="modal-body">
                              <div class="form-group">
                                <input value="http://" class="bootstrap-wysihtml5-insert-image-url form-control" data-wysihtml5-dialog-field="src">
                              </div> 
                            </div>
                            <div class="modal-footer">
                              <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
                              <a class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save" href="#">Insert image</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a class="btn btn-default" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1" href="javascript:;" unselectable="on">
                          <span class="glyphicon glyphicon-picture"></span>
                      </a>
                    </li>
                  </ul>
                  <textarea id="compose-textarea" class="form-control" style="height: 300px; display: none;">
                    &lt;h1&gt;&lt;u&gt;Heading Of Message&lt;/u&gt;&lt;/h1&gt;
                    &lt;h4&gt;Subheading&lt;/h4&gt;
                    &lt;p&gt;But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                    was born and I will give you a complete account of the system, and expound the actual teachings
                    of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                    dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
                    how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again
                    is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because occasionally circumstances occur in which toil and pain can procure him some great
                    pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise,
                    except to obtain some advantage from it? But who has any right to find fault with a man who
                    chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that
                    produces no resultant pleasure? On the other hand, we denounce with righteous indignation and
                    dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so
                    blinded by desire, that they cannot foresee
                  </textarea>
                </div>
                <div class="form-group">
                  <div class="btn btn-default btn-file">
                    <i class="fa fa-paperclip"></i> Attachment
                    <input type="file" name="attachment">
                  </div>
                  <p class="help-block">Max. 32MB</p>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="pull-right">
                  <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
                </div>
                <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
              </div>
              <!-- /.box-footer -->
            </div>
            <!-- /. box -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
                
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>