<div class="tab-pane" id="staff">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Staff</h3>
                    <br>



                    <div class="box-tools">

                      <div class="row">
	                    	<div class="col-md-4">
	                          <a href="#" class="btn btn-primary btn-block margin-bottom">Add Staff</a>
	                        </div>

	                        <div class="col-md-4">
	                          <a href="#" class="btn btn-primary btn-block margin-bottom">Upload Staff</a>
	                        </div>

	                        <div class="col-md-4">

		                        <div class="input-group input-group-sm" style="width: 150px;">
		                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

		                            <div class="input-group-btn">
		                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
		                            </div>
		                        </div>
		                     </div>
	                   </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>SN</th>
                            <th>Photo</th>

                            <th>Insurance No</th>
                            <th>Name</th>
                            <th>Plan/th>
                            <th>Status</th>
                            <th>Gender</th>
                            <th>Type</th>
                            <th>View</th>
                        </tr>


                        <tr>
                            <td>12</td>

                            <td><img class="staff-img img-responsive" src="assets/img/logo_default_dark.png" alt="Staff Image"></td>
                            <td>RC/ds/2333</td>
                            <td>Henry Mascot</td>
                            <td>Bronze</td>
                            <td>Active</td>
                            <td>Principal</td>
                            <td>Dependant</td>
                            <td><a href="#" class="btn btn-primary btn-sm" title="View details"><i class="fa fa-eye"></i>&nbsp;View</a></td>
                        </tr>
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</div>



<!--


USE THIS


<div class="tab-pane" id="staff">

    <div class="row">
        <div class="col-xs-12">
            <div ng-controller="CompaniesStaffTabCtrl as showCase" class="box">
                <div class="box-body">
                    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-striped row-border hover"></table>
                </div>
            </div>
        </div>
    </div>

</div>
