<div class="tab-pane" id="claims">

</div>
<!--


USE THIS




<div class="tab-pane" id="enrollees">

    <div class="row">
        <div class="col-xs-12">
            <div ng-controller="ProvidersEnrolleeTabCtrl as showCase" class="box">
                <div class="box-body">
                    <table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="table-striped row-border hover"></table>
                </div>
            </div>
        </div>
    </div>

</div>
