
<section class="content-header">
    <h1>
        Company
        <small>View Company</small>
    </h1>

    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="hmo.companiesList">Company</a></li>
        <li class="active">View</li>
    </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
    <div class="margin-bottom">
        <button ui-sref="hmo.companiesEdit({id:id})" class="btn btn-primary">EDIT COMPANY</button>
        <button ui-sref="" class="btn btn-danger">DELETE COMPANY</button>
    </div>
	<div class="table-responsive box">
        <div class="box-body">
			<table class="table table-bordered table-striped">
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">ID</th>
					<td class="col-md-8 col-sm-9">{{id}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" class="col-md-6 col-sm-9" style="text-align: right">Name</th>
					<td class="col-md-8 col-sm-9">{{name}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Email</th>
					<td class="col-md-8 col-sm-9">{{email}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Phone Number</th>
					<td class="col-md-8 col-sm-9">{{phone}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Website</th>
					<td class="col-md-8 col-sm-9">{{website}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Address</th>
					<td class="col-md-8 col-sm-9">{{address}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">State</th>
					<td class="col-md-8 col-sm-9">{{state_id}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Status Code</th>
					<td class="col-md-8 col-sm-9">{{status_code}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Company Plan</th>
					<td class="col-md-8 col-sm-9">{{company_plan_id}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Rep.Name</th>
					<td class="col-md-8 col-sm-9">{{rep_name}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Rep.Phone</th>
					<td class="col-md-8 col-sm-9">{{rep_phone}}</td>
				</tr>
				<tr>
					<th class="col-md-4 col-sm-3" style="text-align: right">Rep.Email</th>
					<td class="col-md-8 col-sm-9">{{rep_email}}</td>
				</tr>
			</table>
		</div>
	</div>

</section>