<div class="tab-pane" id="claims">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Claims</h3>
                    <br>



                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="row">

                    <div class="col-md-6">
                        <div class="box box-info">
                            <div class="box-header with-border">
                              <h3 class="box-title">Utilization</h3>

                              <div class="box-tools pull-right" style="margin-right: 70px">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar-minus-o"></i></span>
                                    <input type="email" class="form-control" placeholder="Select Timeline">
                                  </div>
                              </div>


                              <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                              </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                              <div class="table-responsive">
                                <table class="table no-margin">
                                  <thead>
                                      <tr>
                                        <th colspan="2">Time</th>
                                        <th colspan="2">Utilization</th>
                                      </tr>
                                      </thead>
                                  <tbody>
                                      <tr>
                                        <td colspan="2"><a href="pages/examples/invoice.html">2018</a></td> 
                                        <td colspan="2">N23,333</td>
                                      </tr>
                                  </tbody>
                                </table>
                              </div>
                              <!-- /.table-responsive -->
                            </div>
                            <!-- /.box-body -->
                           
                          </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>SN</th>
                            <th>Date of Encounter</th>
                            <th>Diagnosis</th>
                            <th>Amount</th>
                        </tr>


                        <tr>
                            <td>12</td>
                            <td>23/02/3023</td>
                            <td>Plasmodysis</td>
                            <td>N23,3232</td>
                    <td><a href="#/hmo/claims/view/1" class="btn btn-primary btn-sm" title="View details"><i class="fa fa-eye"></i>&nbsp;View</a></td>

                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</div>